<div class="container">
    <header class="row">
        <div class="col">
            <h1>Hola mundo</h1>
        </div>
    </header>
    <section class="row">
        <div class="col">
            <app-saludador></app-saludador>
        </div>
    </section>
</div>
