<article>
    <header class="row">
        <div class="col text-center">
            <h2>saludador works!</h2>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima cumque vel repudiandae impedit? Amet quis commodi repellendus rerum cum suscipit tempore magnam dolore! Reprehenderit quaerat adipisci doloribus dolorum necessitatibus fuga!</p>
            <p>Magni velit doloribus autem accusamus repellendus molestiae illum quas. Ipsa facilis quae, laborum earum adipisci veritatis, harum, dolorem cumque fuga iusto dignissimos. Id nesciunt sequi laborum consectetur culpa reiciendis pariatur.</p>
            <p>Ut architecto molestias nobis quis unde neque odio voluptatum illum ea laborum magni, quas modi, temporibus magnam dolore! Ab, libero voluptatem possimus eum ullam eos itaque animi explicabo dolore. Eaque.</p>
            <p>Enim odio repudiandae beatae accusamus! Architecto, vel optio et neque, eos quidem mollitia delectus temporibus voluptatem nihil labore natus aut molestiae sit. Recusandae quaerat, incidunt animi ullam labore iusto veritatis!</p>
        </div>
    </div>
</article>